#stat-control-form {
	width: 100%;
	display: flex;
	justify-content: space-between;
	gap: 1rem;
}

.window-control-label {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	background-color: rgba(255, 255, 255, 0.05);
	transition: background-color 0.3s ease;
}

.window-control-label input {
	display: none;
}

:host {
	--blue-base: 22, 107, 255;
}

.window-control-label:has(input:checked) {
	background-color: rgba(var(--blue-base), 0.2);
	color: rgb(var(--blue-base));
}

.window-control-label:hover {
	background-color: rgba(255, 255, 255, 0.15);
}

#chart-canvas {
	display: block;
}
