body {
  color: white;
  font-family: sans-serif;

  min-height: 100vh;

  background-image: url("/app/assets/background.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

h1 {
  font-size: 128px;
  text-align: center;
}

.modal {
  color: white;

  outline: none;
  border-radius: 32px;
  border: 1px solid rgba(255, 255, 255, 0.5);

  width: 300px;
  align-items: center;
  align-content: center;

  background-color: transparent;
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
}

dialog::backdrop {
  backdrop-filter: blur(2px);
}

#balance-display {
  padding: 8px;
  border-radius: 16px;
  aspect-ratio: 1 / 1;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 48px;
}

#transaction-icon {
  max-height: 32px;
}

.flexbox {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.container {
  display: flex;
  margin: 48px;
  padding: 32px;
  border-radius: 32px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
}

#user-table {
  min-width: 90%;
}

tr {
  border-spacing: 32px;
}

th {
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 4px;
  padding-right: 4px;
  min-width: 64px;
  max-width: 256px;
  border-radius: 16px;
  background-color: rgba(255, 255, 255, 0.15);
}

td {
  min-width: 64px;
  max-width: 256px;
  text-align: center;
}

.gsi-material-button {
  background-color: white;
  border: 1px solid #dadce0;
  border-radius: 20px;
  display: inline-flex;
  align-items: center;
  padding: 0.75rem;
  cursor: pointer;
  font-family: sans-serif;
  font-size: 14px;
  transition: background-color 0.3s ease;
}

.gsi-material-button:hover {
  background-color: #f5f5f5;
}

.gsi-material-button:active {
  background-color: #e0e0e0;
}

.gsi-material-button-state {
  display: none;
}

.gsi-material-button-content-wrapper {
  display: inline-flex;
  align-items: center;
}

.gsi-material-button-icon {
  margin-right: 0.5rem;
}

.gsi-material-button svg {
  width: 24px;
  height: 24px;
}

.gsi-material-button-contents {
  font-weight: 600;
  color: #5f6368;
}

/* Hide the duplicate text */
.gsi-material-button-content-wrapper span[style="display: none;"] {
  display: none;
}
