{{ block "index" . }}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PiikkiBotti</title>
    <link rel="stylesheet" href="/assets/web_app/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <script src="https://unpkg.com/htmx.org@1.9.12" integrity="sha384-ujb1lZYygJmzgSwoxRggbCHcjc0rB2XoQrxeTUQyRjrOnlCoYta87iKBWq3EsdM2" crossorigin="anonymous"></script>
</head>
<body>
<h1>PIIKKI</h1>

<div id="scroll-button-container">
    <a id="scroll-button" href="#main-view-container">
        <svg id="arrow-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512">
            <path d="M169.4 470.6c12.5 12.5 32.8 12.5 45.3 0l160-160c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L224 370.8 224 64c0-17.7-14.3-32-32-32s-32 14.3-32 32l0 306.7L54.6 265.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l160 160z"/>
        </svg>
    </a>
</div>

<div id="main-view-container">
    <div id="user-actions">
        {{ template "action-form" . }}
    </div>

    <div id="users-view">
        {{ template "user-view" . }}
    </div>
</div>
</body>
</html>

{{ end }}

{{ block "action-form" . }}

<div id="form-container">
{{ if .ActionStatus }}
<div id="action-status">
    {{ .ActionStatus }}
</div>
{{ end }}

<form hx-post="/action" hx-swap="innerHTML" hx-target="#form-container">
    <label for="username-input"></label>
    <input type="text"
           name="username"
           id="username-input"
           placeholder="Käyttäjänimi"
           hx-trigger="input changed delay:500ms, keyup[key=='Enter']"
           hx-get="/user-view"
           hx-vals='{"filter": this.value}'
           hx-target="#user-view-entry-container"
           hx-indicator=".search-indicator" /><br>
    <label for="amount-input"></label>
    <input type="text" name="amount" id="amount-input" placeholder="€€€" /><br>
    <input type="radio" id="deposit" name="action-type" value="deposit">
    <label for="deposit">TALLETA</label>
    <input type="radio" id="withdraw" name="action-type" value="withdraw">
    <label for="withdraw">NOSTA</label><br>
    <button id="submit-action" type="submit">TOTEUTA</button>
</form>
</div>

{{ end }}

{{ block "user-view" . }}

<table id="user-view-table" hx-trigger="load, newUserAction from:body" hx-get="/user-view"
       hx-target="#user-view-entry-container" hx-swap="innerHTML">
    <thead>
        <tr>
            <th>ID</th>
            <th>Käyttäjänimi</th>
            <th>Saldo</th>
        </tr>
    </thead>
    <tbody id="user-view-entry-container"></tbody>
</table>

{{ end }}

{{ block "single-user-view" . }}

<tr id="user-view-entry">
    <td>{{ .ID }}</td>
    <td>{{ .Username }}</td>
    <td>{{ .Balance }}</td>
</tr>

{{ end }}

{{ block "login" . }}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PiikkiBotti</title>
    <link rel="stylesheet" href="/assets/web_app/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <script src="https://unpkg.com/htmx.org@1.9.12" integrity="sha384-ujb1lZYygJmzgSwoxRggbCHcjc0rB2XoQrxeTUQyRjrOnlCoYta87iKBWq3EsdM2" crossorigin="anonymous"></script>
</head>
<body>
<h3 id="login-title">LOGIN</h3>

<div id="login-button-container">
<a href="/auth/google" class="gsi-material-button">
    <div class="gsi-material-button-state"></div>
    <div class="gsi-material-button-content-wrapper">
        <div class="gsi-material-button-icon">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" style="display: block;">
                <path fill="#EA4335" d="M24 9.5c3.54 0 6.71 1.22 9.21 3.6l6.85-6.85C35.9 2.38 30.47 0 24 0 14.62 0 6.51 5.38 2.56 13.22l7.98 6.19C12.43 13.72 17.74 9.5 24 9.5z"></path>
                <path fill="#4285F4" d="M46.98 24.55c0-1.57-.15-3.09-.38-4.55H24v9.02h12.94c-.58 2.96-2.26 5.48-4.78 7.18l7.73 6c4.51-4.18 7.09-10.36 7.09-17.65z"></path>
                <path fill="#FBBC05" d="M10.53 28.59c-.48-1.45-.76-2.99-.76-4.59s.27-3.14.76-4.59l-7.98-6.19C.92 16.46 0 20.12 0 24c0 3.88.92 7.54 2.56 10.78l7.97-6.19z"></path>
                <path fill="#34A853" d="M24 48c6.48 0 11.93-2.13 15.89-5.81l-7.73-6c-2.15 1.45-4.92 2.3-8.16 2.3-6.26 0-11.57-4.22-13.47-9.91l-7.98 6.19C6.51 42.62 14.62 48 24 48z"></path>
                <path fill="none" d="M0 0h48v48H0z"></path>
            </svg>
        </div>
        <span class="gsi-material-button-contents">Continue with Google</span>
    </div>
</a>
</div>

</body>
</html>

{{ end }}
